.vs
*.suo
*.user
bin
obj
packages
WatermarkAzureSample.WebApp/appsettings.Release.json
WatermarkAzureSample.WebApp/appsettings.Development.json
/WatermarkAzureSample.Functions/local.settings.json
/WatermarkAzureSample.Functions/local.settings.json
